<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Calculator</title>
</head>

<body>
    <form method="POST" action="/calculate">
        <h1>Cash Register</h1>
        <label for="du">Product Price (€):</label>
        <input type="number" name="du" id="du" step="0.01" required><br><br>

        <label for="donne">Amount Given (€):</label>
        <input type="number" name="donne" id="donne" step="0.01" required><br><br>

        <button type="submit">Calculate</button>
    </form>

     <!-- result of Amount to be returned -->
    <% if (typeof result !== 'undefined' && result !== null) { %>
        <h2>Amount to return : <%= Number(result).toFixed(2) %> €</h2>
    <% } %>
    
</body>

</html>