* {
    box-sizing: border-box; 
}
body {
    margin-top: 5em;
    display: flex;
    align-items: center;      
    justify-content: center;  
    background: #dce1e1;
    font-family: Helvetica, sans-serif;
}
h2 {
    text-align: center;
    margin-bottom: 12px;
    margin-bottom: 2em;
}
/* form card */
form {
  width: 100%;
  max-width: 500px;
  padding: 28px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
}
form input, form select {
    width: 80%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

label {
    display: block;
    margin-top: 10px;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}
button {
    margin-top: 6em;
    padding: 15px 27px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;    
}